html,body {
	height: 100%;
}

.dashboard-header{
	padding-left: 20px;
	color: white;
	width: auto;
	height: 35px;
	line-height: 35px;
	background-color: #fb9821;
}

.row-menu, .col-menu{
	height:100%;
}

.menu {
	background-color: #f9f9f9;
	margin: 0;
	height:calc(100%);
	width:95px;
}

.menu ul {
	padding: 0;
	margin:0;
	list-style-type: none;
	float:left;
}

.menu ul li {
	width: 95px;
	background-color: #f9f9f9;
	text-align: center;
	margin-top: 25px;
}

.menu ul li:hover{
	color: #fb9821;
}

.menu img {
	height: auto;
	margin-top: 35px;
	padding: 0 0 5px;
	width: 40%;
}

.menu-icon{
	fill:#000000;
}

#selected{
	color:#fb9821;
}