/* CSS-styling for login page */

body {
	background-color: transparent;
}

.box {
	position: relative;
	margin-left:auto;
	margin-right:auto;

	top:30px;
	width:auto;
	border-style: solid;
	border-color: white;
	background-color: #fafafa;
	border-width: 0px;
	border-radius: 5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom: 8px;
	box-shadow: 0px 10px 5px #888888;
	line-height: 150%;
	font-size: 1.6rem;
}

.box a {
	float:right;
}

.box form {
	padding:15px;
	padding-top: 0;
}

.box form input, .box form select {
	margin-bottom: 5px;
}

.box-form-no-padding-right{
	padding-right: 0px;
}

.box-form-no-padding-left{
	padding-left: 0px;
}
.company-seach-box{
	width:45px;
}

.company-delete-buttons{
	float:right;
	width: 200px;
}

.company-search{
	width:50%;
}

.create-user-box{
	width:380px;
}

.button {
	min-width: 100px;
	margin-left: 8px;
	border-color: #4ecd87;
	background-color: #4ecd87;
	font-weight: bold;
}

.top {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #dc7711;
	width:100%;
	height: 45px;
	background-color: #f89316;
	padding-left: 6px;
	font-weight: bold;
	color:white;
	line-height: 45px;
	margin-bottom: 10px;
}

.title-text {
	margin-top:15px;
	margin-bottom: 10px;
	margin-left: 10px;
	color:grey;
	font-weight: bold;
}

.search-result {
	padding-left: 20px;
	height:42px;
	line-height: 42px;
	background-color: #f4f4f4;
	border-style:solid;
	border-radius: 5px;	
	border-color:#d9d9d9;
	border-width: 1px;
}

.search-result-delete {
	padding-right:20px;
	padding-left:20px;
	position:absolute;
	display:inline;
	right:15px;
}

.search-result-delete a {
	text-decoration: none;
	color:#333333;
	font-weight: bold;
}

.search-result-delete a:hover {
	color:red;
}

.search-result:hover {
	background-color: #dcdcdc;
}

#delete-user {
	width:auto;
	max-width: 600px;

}