/* CSS-styling for login page */

body {
	background-color: transparent;
}

.company-seach-box{
	width:45px;
}

.company-delete-buttons{
	float:right;
	width: 200px;
}

.company-search{
	width:50%;
}

.create-user-box{
	width:380px;
}

.button {
	min-width: 100px;
	margin-left: 8px;
	border-color: #4ecd87;
	background-color: #4ecd87;
	font-weight: bold;
}



.title-text {
	margin-top:15px;
	margin-bottom: 10px;
	margin-left: 10px;
	color:grey;
	font-weight: bold;
}

.search-result {
	padding-left: 20px;
	height:42px;
	line-height: 42px;
	background-color: #f4f4f4;
	border-style:solid;
	border-radius: 5px;	
	border-color:#d9d9d9;
	border-width: 1px;
}

.search-result-delete {

	display:inline;

}

.search-result-delete a {
	text-decoration: none;
	color:#333333;
	font-weight: bold;
	float:right;
	padding-right:18px;
	padding-left:18px;

}

.search-result-delete a:hover {
	color:red;
}

.search-result:hover {
	background-color: #dcdcdc;
}

#delete-user {
	width:auto;
	max-width: 600px;
}

#search-results {
	overflow-y:auto;
	max-height:250px;
	min-height: 200px;
}

.alert-box {
	display: none; 
	background-color: #449D44;
	border-radius: 5px;
	padding:4px;
	color:white;
}

.change-password {
	display:none;
	padding-left: 20px;
	height:42px;
	line-height: 42px;
	background-color: white;
	border-style:solid;
	border-radius: 5px;	
	border-color:#d9d9d9;
	border-width: 1px;
}

#login-box {
	top:80px;
	padding-left: 0;
	padding-right: 0;
	width:400px;
}